<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    <link rel="stylesheet" href="/css/style.css"> 
</head>
<body>

<div class="login-right">
    <img src="/css/images/clock.svg"className="login-logo" alt="Company logo" />
    <h1>PunchNPay</h1>
    <form id="login-form">
        <div class="login-input">
                <input type="email" name="email" placeholder="Email" id="email" class="log-text">
                <br>
                <input type="password" name="password" placeholder="Password" id="password" class="log-text"> 
                <br>     
        </div>
        <div>
            <button type="button" onclick="window.location.href = 'get_verify_email';" style="text-decoration: none; color: darkcyan; background: none; border: none; cursor: pointer;">Forgot Password?</button>
        </div>
        <div>
            <p id="error_issue" style="font-weight: bold; color: red; text-align: center;"></p>
        </div>
        <div>
            <button type="button" id="login-button"><h2>Log-in</h2></button>
        </div>
    </form>
</div>

<div class = "popup" id="popup-1"> 
    <div class="overlay"></div>
    <div class="content">
        <div class="close-btn" onclick="closeBtn()">&times;</div>
        <h1>Please Enter Your Email</h1>
            <form id="sendOTPForm">
                <label for="forgot-email">Email:</label>
                <input type="email" id="forgot-email" name="email" required>
                <button type="submit">Send OTP</button>
            </form>
    </div>
</div>

<script>
    let eyeicon = document.getElementById("eye-icon");
    let password = document.getElementById("password");

    eyeicon.onclick = function(){
        if(password.type == "password"){
            password.type = "text";
            eyeicon.className = "fi fi-rr-eye pw-icon"
        }else{
            password.type = "password";
            eyeicon.className = "fi fi-rr-eye-crossed pw-icon"
        }
    } 
</script>
<script src="/js/login.js"></script>
<script src="/js/new-password.js"></script>
</body>
</html>