<!DOCTYPE html>
<html lang="en">
<head>
    <title>Email Verified</title>
    <link rel="stylesheet" href="/css/style.css">
    <style>
        .new-password{
            padding-left: 10px;
        }
    </style>
</head>
<body>
    <div class="new-password">
        <h1>Email Verified Successfully!</h1>
        <br>
        <p>Your email: <p id="Email">{{email}}</p></p>
        <div id="employeeDetails">
        <form id="editEmployeeForm" class="editEmployeeForm">
            <div>
                <br>
                <label for="Password">New Password:</label>
                <br><br>
                <input type="password" id="Password" name="Password" class="edit_profile" required>
            </div>
            <br>
            <button type="submit" class="submit_edit">Save</button>
        </form>
    </div>
    </div>
<script src="/js/email-change-password.js"></script>
</body>
</html>