<!DOCTYPE html>
<html lang="en">
<head>
    <title>Email Verified</title>
</head>
<body>
    <h1>Email Verified Successfully!</h1>
    <p>Your email: <p id="Email">{{email}}</p></p>

    <div id="employeeDetails">
        <form id="editEmployeeForm" class="editEmployeeForm">
            <div>
                <br>
                <label for="Password">Password:</label>
                <br><br>
                <input type="password" id="Password" name="Password" class="edit_profile" required>
            </div>
            <br>
            <button type="submit" onclick="window.location.href = '/';" class="submit_edit">Save</button>
        </form>
    </div>
    <p id="message"></p>
<script src="/js/email-change-password.js"></script>
</body>
</html>