<!DOCTYPE html>
<html>
<head>
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="/css/style.css"> 
    <link rel="icon" type="image/x-icon" href="/css/images/greenatwork-logo.png">
    <style>
        /* Specific styles for this form */
        .form-container {
            background-color: #282c34;
            padding: 20px;
            border-radius: 8px;
            width: auto;
            margin: 0 auto;
            border: 2px solid #008b8b;
        }

        .form-header {
            text-align: left;
            margin-bottom: 20px;
            color: #fff;
        }

        .form-group {
            display: flex;
            align-items: center;
            margin-bottom: 10px;
        }
        .form-group label {
            margin-right: 10px;
            font-weight: bold;
            color: white;
            width: 150px;
        }

        .form-group input, .form-group select {
            padding: 8px;
            border: none;
            border-radius: 4px;
            font-size: 0.9rem;
            width: 100%;
            max-width: 300px;
            background-color: #1e1e1e;
            color: #fff;
        }

        .form-group input[type="submit"] {
            background-color: darkcyan;
            color: white;
            cursor: pointer;
            margin-top: 10px;
            width: auto;
            padding: 10px 20px;
        }

        .form-group input[type="submit"]:hover {
            background-color: #21a1f1;
        }
    </style>
</head>
<body>
<div class="left-payroll admin-leftdash">
    <div class="admin-leftdash-top">
        <h2 class="form-header">Add/Delete Employee</h2>
        <div class="empman-header">
            <div class="dropdown-page">
                <select onchange="navigate()">
                    <option value="register">Add Employee</option>
                    <option value="delete_user">Delete Employee</option>
                </select>
            </div>
        </div>
        <br>
        <form class="form-container">
            <div class="form-group">
                <label for="firstName">First Name:</label>
                <input type="text" id="firstName" name="firstName" placeholder="First Name">
            </div>
            <div class="form-group">
                <label for="lastName">Last Name:</label>
                <input type="text" id="lastName" name="lastName" placeholder="Last Name">
            </div>
            <div class="form-group">
                <label for="address">Address:</label>
                <input type="text" id="address" name="address" placeholder="Address">
            </div>
            <div class="form-group">
                <label for="contactNumber">Contact Number:</label>
                <input type="number" id="contactNumber" name="contactNumber" placeholder="eg.0967897423">
            </div>
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" placeholder="Email">
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" placeholder="Password">
            </div>
            <div class="form-group">
                <label for="employeeType">Role:</label>
                <select id="employeeType" name="employeeType">
                    <option value="Employee">Employee</option>
                    <option value="Admin">Admin</option>
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Confirm Add Employee">
            </div>
        </form>
    </div>
</div>

<div class="right-payroll right-emp-dash">
    <div class="admin-rightdash-top">
        <h1>Admin Dashboard</h1>
        <p>As of <span id="date">Monday, July 22, 2024</span></p> 
        <p id="time">12:45:42</p>
    </div>
    <div class="ad-dash-spacer"></div>
    <div class="admin-rightdash-mid">
        <button type="button" class="ad-rightdash-btn" id="Ti-To-logs-id" onclick="window.location.href = 'admin_dashboard';">
            <i class="fi fi-rr-calendar-clock"></i>
            <p>Time-in/out Logs</p>
        </button>
        <button type="button" class="ad-rightdash-btn" id="emp-mgm-id" onclick="window.location.href = 'admin_empman_payroll';">
            <i class="fi fi-rr-employee-man"></i>
            <p>Employee Management</p>
        </button>
        <button type="button" class="ad-rightdash-btn" id="adm-dlt" onclick="window.location.href = 'register';">
            <i class="fi fi-rr-users-alt"></i>
            <p>Add/Delete User</p>
        </button>
        <button type="button" class="ad-rightdash-btn" id="adm-not" onclick="window.location.href = 'admin_notification';">
            <i class="fi fi-rr-bell"></i>
            <p>Send Notifications</p>
        </button>
        <button type="button" class="ad-rightdash-btn" onclick="window.location.href = 'edit_user';">
            <i class="fi fi-rr-settings"></i>
            <p class="admin_edit">Edit Employee Information</p>
        </button>
    </div>
    <div class="admin-rightdash-bottom">
        <h2><a href="/logout">Log-Out</a></h2>   
    </div>
</div>
<script>
    function navigate() {
        var selectElement = document.querySelector(".dropdown-page select");
        var selectedOption = selectElement.options[selectElement.selectedIndex];
        if (selectedOption.value) {
            window.location.href = selectedOption.value;
        }
    }
</script>
<script src="/js/register.js"></script>
</body>
</html>
