<!DOCTYPE html>
<html lang="en">
<head>
    <title>Email Verification</title>
    <link rel="stylesheet" href="/css/style.css">
    <style>
        body {
            margin: 0;
            font-family: Arial, sans-serif;
            background-color: #282c34;
            color: #ffffff;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        .form-container {
            background-color: #202328;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            width: 500px;
            text-align: center;
        }

        input[type="email"] {
            width: 80%; /* Reduced width */
            padding: 8px; /* Reduced padding */
            margin: 10px 0;
            border: none;
            border-radius: 4px;
            background-color: #383d47;
            color: #ffffff;
        }

        input[type="email"]::placeholder {
            color: #b0bec5;
        }

        button {
            width: 80%; /* Reduced width */
            padding: 8px; /* Reduced padding */
            margin-top: 10px;
            border: none;
            border-radius: 4px;
            background-color: darkcyan;
            color: #ffffff;
            font-size: 14px; /* Reduced font size */
            cursor: pointer;
            transition: background-color 0.3s ease;
        }

        button:hover {
            background-color: #009688;
        }

        #message {
            margin-top: 20px;
            font-size: 14px;
            color: blue;
            width: 100%; 
            word-wrap: break-word;
            box-sizing: border-box;
        }

    </style>
</head>
<body>
    <div class="form-container">
        <form id="emailForm">
            <input type="email" name="email" placeholder="Enter your email" required>
            <button type="submit">Verify Email</button>
        </form>
        <div>
            <p>Copy and paste this link:</p>
            <br>
            <p id="message"></p>
        </div>
    </div>
    <script src="/js/new-password.js"></script>
</script>
</body>
</html>